<ion-view view-title="Recipe list">
	<ion-header-bar class="bar-subheader item-input-inset">
		<div class="bar bar-header item-input-inset">
			<label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" placeholder="Search" ng-model="searchText">
			</label>
			<button class="button button-clear" ng-click="clearSearch()">
				Clear
			</button>
		</div>
	</ion-header-bar>
	<ion-content class="has-subheader">
		<ion-list>
			<ion-item class="item" collection-repeat="recipe in recipes | filter:searchText" href="#/tab/recipes/{{recipe.$id}}">
				<h3>{{recipe.$id}}: {{recipe.name}}</h3>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
