<ion-view view-title="Intro" hide-nav-bar="true" class="splash">
  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide>
      <h1>mShoppr</h1>
      <p>Grocery shopping made easy.</p>
    </ion-slide>
    <ion-slide>
      <h2>Tutorial page 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, eveniet.</p>
    </ion-slide>
    <ion-slide>
      <h2>Tutorial page 2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, eveniet.</p>
    </ion-slide>
  </ion-slide-box>
  <div class="button-bar">
    <button class="button-royal button-block button-outline" ng-click="skipIntro()">Go to main app</button>
  </div>
</ion-view>