<ion-view>
	<ion-tabs class="tabs-icon-top tabs-positive">
		<ion-tab title="Plan" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/tab/plan">
			<ion-nav-view name="plan-tab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="Recipes" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/tab/recipes">
			<ion-nav-view name="recipes-tab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="Profile" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/tab/profile">
			<ion-nav-view name="profile-tab"></ion-nav-view>
		</ion-tab>
	</ion-tabs>
</ion-view>